p {
    color: orange;
}
h1{color: green;}
h2 {color: blue;}
h3 { color: brown}
p {
    color: rgb(0,171,111);
}
td{
    width: 400px;
    height: 300px;
}
p{
    width: 300px;
    text-align: center;
}
table{text-align: center;
color:gray;}