h1{ color:blue;
text-align: center;
width: 400px;}


h2{ 
    color: green;
width: 500px;
text-align: center;
font-weight: normal;}


p{ text-align: center;
width: 500px;
font: 12/16px ;
font-family: Arial;
}
li{
    width: 400px;
}
