
h1{color: green;
text-align: center;
font-size: 50;}
h2 {color: blue;
width: 300;
text-align: center;
text-align: center;
font: italic normal 13px/20px New Times Roman ; }
h3 { color: brown}
a{
    text-decoration: none;
}
p {
    color: rgb(94, 24, 8);
    width: 1200px;
    text-align: justify;
    font: italic bold 40px/60px Arial;
    text-indent: 50px;
}
td{
    width: 300px;
    height: 30px;
}

th{
    text-align: left;
}
    
table{text-align: center;
color:gray;}