p {
    color: orange;
}
h1{color: green;}
h1{text-align: center;}
h2 {color: blue;
width: 300;
text-align: center;}
h2{text-align: center;}
h2{font-style: italic;}
h3 { color: brown}
p {
    color: rgb(0,171,111);
}
td{
    width: 300px;
    height: 30px;
}

th{
    text-align: left;
}
p{
    width: 500px;
    text-align: justify;
}
table{text-align: center;
color:gray;}